#include "resource.h"

#include <windows.h>
#include <commctrl.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_CONFIRM DIALOGEX 0, 0, 400, 190
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Confirm"
FONT 10, "Segoe UI"
BEGIN
    LTEXT "", IDC_CONFIRM_MESSAGE, 20, 20, 360, 96
    PUSHBUTTON "", IDC_CONFIRM_SECONDARY, 180, 140, 96, 30
    DEFPUSHBUTTON "", IDC_CONFIRM_PRIMARY, 284, 140, 96, 30
END
